{% extends 'SwedJBundle:Bank:base.html.twig' %}
<!-- CSS for buttons on business main page -->
<style type="text/css">
        /* setup icon images */
    .ui-icon-profile,
    .ui-icon-payments,
    .ui-icon-tasks,
    .ui-icon-exchange,
    .ui-icon-map,
    .ui-icon-contacts{
        width:28px;
        height: 28px;
        background-color: rgba(0, 0, 0, 0);
        border: 1;
        box-shadow: none;
    }
    .ui-icon-profile {background-image: url('{{ asset('img/icons/profile.png') }}');}
    .ui-icon-payments {background-image: url('{{ asset('img/icons/payments.png') }}');}
    .ui-icon-credits {background-image: url('{{ asset('img/icons/credits.png') }}');}
    .ui-icon-exchange {background-image: url('{{ asset('img/icons/exchange.png') }}');}
    .ui-icon-map {background-image: url('{{ asset('img/icons/map.png') }}');}
    .ui-icon-contacts {background-image: url('{{ asset('img/icons/contacts.png') }}');}
    .ui-icon-tasks {background-image: url('{{ asset('img/icons/tasks.png') }}');}
</style>

{% block title %}Business{% endblock %}
{% block body %}
<!-- Home -->
<div data-role="page" id="business">
    <div data-theme="a" data-role="header">
        <span class="ui-title">
        </span>
        <a data-role="button" href="{{ path('swed_homepage') }}" class="ui-btn-right">
            Normal
        </a>
    </div>
    <div data-role="content">
        <div data-role="navbar">
            <li><a data-role="button" href="#" data-theme="reset" data-icon="profile">
                Profile
            </a></li>
            <li><a data-role="button" href="#" data-theme="reset" data-icon="tasks">
                Task List
            </a></li>
            <li><a data-role="button" href="#" data-theme="reset" data-icon="payments">
                Payments
            </a></li>
            <li><a data-role="button" href="#" data-theme="reset" data-icon="exchange">
                Exchange rates
            </a></li>
            <li><a data-role="button" href="{{ path('swed_map') }}" data-theme="reset" data-icon="map">
                Map
            </a></li>
            <li><a data-role="button" href="#" data-theme="reset" data-icon="contacts">
                Contacts
            </a></li>
        </div>
    </div>
</div>